In [1]:
#Introduction
#Though there are a number of ways you can go about tackling this project, we recommend using NumPy and pandas.
#Using these libraries is the industry standard for working with data in Python.
#In the quizzes in this and the following sections,
#you will get some practice using NumPy and pandas to complete different parts of the project. Then for the project,
#you will need to piece your code together with some additional code to complete a final project!
#These sections will likely be helpful if you use NumPy and pandas to complete the project.

#Understanding the Data
#Let's use pandas to better understand the bike share data! 
#Use this code editor to explore chicago.csv and answer the questions below.
#The file included here is a mini version of one of the actual data files you will work with for the project.
#It only includes 400 rows, but the structure and columns are the same.

#1. What columns are in this dataset?
#2. Are there any missing values?
#3. What are the different types of values in each column?
#4. Some useful pandas methods:

#df.head()
#df.columns
#df.describe()
#df.info()
#df['column_name'].value_counts()
#df['column_name'].unique()


import pandas as pd

df = pd.read_csv("chicago.csv")
print(df.head())  # start by viewing the first few rows of the dataset!

            Start Time             End Time  Trip Duration  \
0  2017-05-29 18:36:27  2017-05-29 18:49:27            780
1  2017-06-12 19:00:33  2017-06-12 19:24:22           1429
2  2017-02-13 17:02:02  2017-02-13 17:20:10           1088
3  2017-04-24 18:39:45  2017-04-24 18:54:59            914
4  2017-01-26 15:36:07  2017-01-26 15:43:21            434

                  Start Station                          End Station  \
0     Columbus Dr & Randolph St                 Federal St & Polk St
1        Kingsbury St & Erie St  Orleans St & Merchandise Mart Plaza
2         Canal St & Madison St              Paulina Ave & North Ave
3  Spaulding Ave & Armitage Ave       California Ave & Milwaukee Ave
4        Clark St & Randolph St         Financial Pl & Congress Pkwy

    User Type  Gender  Birth Year
0  Subscriber    Male      1991.0
1    Customer     NaN         NaN
2  Subscriber  Female      1982.0
3  Subscriber    Male      1966.0
4  Subscriber  Female      1983.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 8 columns):
Start Time       400 non-null object
End Time         400 non-null object
Trip Duration    400 non-null int64
Start Station    400 non-null object
End Station      400 non-null object
User Type        400 non-null object
Gender           330 non-null object
Birth Year       330 non-null float64
dtypes: float64(1), int64(1), object(6)
memory usage: 25.1+ KB

In [3]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-05-29 18:36:27,2017-05-29 18:49:27,780,Columbus Dr & Randolph St,Federal St & Polk St,Subscriber,Male,1991.0
1,2017-06-12 19:00:33,2017-06-12 19:24:22,1429,Kingsbury St & Erie St,Orleans St & Merchandise Mart Plaza,Customer,NaN,NaN
2,2017-02-13 17:02:02,2017-02-13 17:20:10,1088,Canal St & Madison St,Paulina Ave & North Ave,Subscriber,Female,1982.0
3,2017-04-24 18:39:45,2017-04-24 18:54:59,914,Spaulding Ave & Armitage Ave,California Ave & Milwaukee Ave,Subscriber,Male,1966.0
4,2017-01-26 15:36:07,2017-01-26 15:43:21,434,Clark St & Randolph St,Financial Pl & Congress Pkwy,Subscriber,Female,1983.0

In [7]:
#1. What columns are in this dataset?
df.columns

Index(['Start Time', 'End Time', 'Trip Duration', 'Start Station',
       'End Station', 'User Type', 'Gender', 'Birth Year'],
      dtype='object')

In [8]:
df.describe()

       Trip Duration   Birth Year
count     400.000000   330.000000
mean      938.215000  1980.533333
std      2466.972184    11.723011
min        97.000000  1949.000000
25%       407.000000  1973.000000
50%       634.000000  1984.000000
75%       997.750000  1989.000000
max     47551.000000  1999.000000

In [9]:
#if there is missing data
df.isnull().sum()

Start Time        0
End Time          0
Trip Duration     0
Start Station     0
End Station       0
User Type         0
Gender           70
Birth Year       70
dtype: int64

# Values in each column

In [14]:
df["Gender"].value_counts()

Male      244
Female     86
Name: Gender, dtype: int64

In [17]:
df["Birth Year"].value_counts()

1989.0    24
1990.0    23
1986.0    21
1984.0    20
1985.0    18
1991.0    14
1992.0    13
1993.0    13
1987.0    12
1982.0    12
1983.0     9
1973.0     8
1994.0     8
1972.0     7
1981.0     7
1988.0     7
1969.0     6
1978.0     6
1979.0     6
1971.0     5
1953.0     5
1966.0     5
1961.0     5
1959.0     5
1975.0     5
1980.0     5
1977.0     4
1965.0     4
1995.0     4
1957.0     4
1997.0     4
1963.0     4
1974.0     4
1964.0     4
1968.0     4
1956.0     3
1952.0     2
1976.0     2
1970.0     2
1967.0     2
1949.0     2
1962.0     2
1950.0     2
1954.0     2
1958.0     2
1960.0     1
1998.0     1
1955.0     1
1999.0     1
Name: Birth Year, dtype: int64

In [22]:
df["Start Station"].value_counts()

Streeter Dr & Grand Ave                10
Orleans St & Merchandise Mart Plaza     9
Clinton St & Washington Blvd            8
Dusable Harbor                          7
Kingsbury St & Kinzie St                6
                                       ..
Halsted St & Dickens Ave                1
State St & Harrison St                  1
Western Ave & Winnebago Ave             1
Oakley Ave & Irving Park Rd             1
Sheridan Rd & Loyola Ave                1
Name: Start Station, Length: 208, dtype: int64

In [18]:
df["End Station"].value_counts()

Clinton St & Washington Blvd       8
Streeter Dr & Grand Ave            7
Canal St & Madison St              6
Larrabee St & Kingsbury St         6
Lake Shore Dr & Monroe St          6
                                  ..
Lincoln Ave & Diversey Pkwy        1
Racine Ave (May St) & Fulton St    1
Spaulding Ave & Armitage Ave       1
Carpenter St & Huron St            1
Broadway & Argyle St               1
Name: End Station, Length: 214, dtype: int64

In [19]:
df["End Time"].value_counts()

2017-04-04 17:09:16    1
2017-04-19 11:50:47    1
2017-06-21 16:39:32    1
2017-04-25 09:38:27    1
2017-05-13 17:38:04    1
                      ..
2017-04-09 15:17:36    1
2017-04-30 11:04:32    1
2017-06-13 17:08:17    1
2017-01-27 09:58:25    1
2017-06-23 19:30:03    1
Name: End Time, Length: 400, dtype: int64

In [20]:
df["Start Time"].value_counts()

2017-06-11 15:24:29    1
2017-05-27 10:32:57    1
2017-04-10 17:31:54    1
2017-05-30 18:32:36    1
2017-03-18 13:44:02    1
                      ..
2017-04-04 14:12:57    1
2017-04-17 15:43:55    1
2017-04-08 17:12:08    1
2017-06-17 19:32:21    1
2017-02-01 07:27:29    1
Name: Start Time, Length: 400, dtype: int64

In [21]:
df["User Type"].value_counts()

Subscriber    330
Customer       70
Name: User Type, dtype: int64

In [24]:
df["Trip Duration"].value_counts()

721     4
280     3
335     3
237     3
509     2
       ..
344     1
1160    1
1370    1
1883    1
605     1
Name: Trip Duration, Length: 351, dtype: int64

In [28]:
df["Birth Year"].unique()

array([1991.,   nan, 1982., 1966., 1983., 1981., 1986., 1969., 1963.,
       1990., 1979., 1972., 1957., 1962., 1965., 1987., 1985., 1974.,
       1994., 1984., 1993., 1980., 1964., 1961., 1975., 1949., 1967.,
       1989., 1997., 1992., 1995., 1988., 1950., 1978., 1956., 1953.,
       1954., 1971., 1976., 1970., 1977., 1973., 1952., 1998., 1959.,
       1968., 1955., 1960., 1999., 1958.])

In [30]:
unique_value = df.apply(lambda x: len(x.unique()))

In [31]:
unique_value

Start Time       400
End Time         400
Trip Duration    351
Start Station    208
End Station      214
User Type          2
Gender             3
Birth Year        50
dtype: int64

In [32]:
df["Gender"].unique()

array(['Male', nan, 'Female'], dtype=object)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 8 columns):
Start Time       400 non-null object
End Time         400 non-null object
Trip Duration    400 non-null int64
Start Station    400 non-null object
End Station      400 non-null object
User Type        400 non-null object
Gender           330 non-null object
Birth Year       330 non-null float64
dtypes: float64(1), int64(1), object(6)
memory usage: 25.1+ KB