In [1]:
#: Display a Breakdown of User Types
#There are different types of users specified in the "User Type" column. 
#Find how many there are of each type and store the counts in a pandas Series in the user_types variable.

#Hint: What pandas function returns a Series with the counts of each unique value in a column?

import pandas as pd

filename = 'chicago.csv'

# load data file into a dataframe
df = pd.read_csv(filename)

In [2]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-05-29 18:36:27,2017-05-29 18:49:27,780,Columbus Dr & Randolph St,Federal St & Polk St,Subscriber,Male,1991.0
1,2017-06-12 19:00:33,2017-06-12 19:24:22,1429,Kingsbury St & Erie St,Orleans St & Merchandise Mart Plaza,Customer,NaN,NaN
2,2017-02-13 17:02:02,2017-02-13 17:20:10,1088,Canal St & Madison St,Paulina Ave & North Ave,Subscriber,Female,1982.0
3,2017-04-24 18:39:45,2017-04-24 18:54:59,914,Spaulding Ave & Armitage Ave,California Ave & Milwaukee Ave,Subscriber,Male,1966.0
4,2017-01-26 15:36:07,2017-01-26 15:43:21,434,Clark St & Randolph St,Financial Pl & Congress Pkwy,Subscriber,Female,1983.0

In [6]:

# print value counts for each user type
user_types = df["User Type"].unique()

print(user_types)

['Subscriber' 'Customer']

In [20]:
df["User Type"].value_counts()

Subscriber    330
Customer       70
Name: User Type, dtype: int64